<!-- View -->
<ion-view title="ACCOUNT">
	
<ion-content padding='true' scroll='true'>
	
	<div class="item item-avatar">
		<img src="img/newyork.jpg">
		<h2>{{username}}</h2>
		<p>{{email}}</p>
	    <p>{{status}}</p>
		
			
	</div>
	<div class='list text-center' ng-repeat="usersPost in usersPosts">
		<div class='item'>
			<h2>{{usersPost.get('title')}}</h2>
			<p>{{usersPost.get('body')}}</p>
		</div>
			<!-- {{usersPost.get('user').get('username')}} -->
	</div>
	<ul class="list">
		<div class="item item-divider">
	    Trips
	  </div>
	  <li class="item item-icon-left" href="#">
	    <i class="icon ion-email"></i>
	    Edit Profile
	  </li>

	  <li class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	    <i class="icon ion-ios-telephone-outline"></i>
	  </li>

	  <li class="item item-icon-left" href="#">
	    <i class="icon ion-mic-a"></i>
	    Record album
	    <span class="item-note">
	      Grammy
	    </span>
	  </li>

	  <li class="item item-icon-left" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	    <span class="badge badge-assertive">0</span>
	  </li>
	</ul>
</ion-content>
</ion-view>
