<!-- View -->
<ion-view title="Select Your City" ng-controller='CityController' >
<ion-slide-box class='has-footer' on-slide-changed="slideHasChanged($index)"  show-pager=true does-continue=true >

  <ion-slide id='newyork' class='slide'>
    <a href="#/tab/map">
    	<div class=''>
	    	<img src="http://placehold.it/200x200">
		    <h4>New York City</h4>
		    <p>New York</p>
	    </div>
		</a>
  </ion-slide>
  <ion-slide id='chicago' class='slide'>
		<a href="#/tab/map">
    	<div>
	    	<img src="http://placehold.it/200x200">
		    <h4>Chicago</h4>
		    <p>Illinois</p>
	    </div>
		</a>
  </ion-slide>
  <ion-slide id='la' class='slide'>
  	<a href="#/tab/map">
    	<div>
	    	<img src="http://placehold.it/200x200">
		    <h4>Los Angeles</h4>
		    <p>California</p>
	    </div>
		</a>
  </ion-slide>
</ion-slide-box>
	
</ion-view>
