<!--     <a class="item item-stable item-thumbnail-left" href="#">
      <img src="img/newyork.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a> -->
  <div class="list">
	  <div class="item item-divider">
    	Feature
	  </div>
	  <!-- <li class='item'> -->
	  	<ion-slide-box on-slide-changed="slideHasChanged($index)" class="featureContainer" show-pager=true auto-play=true slide-interval='4000' does-continue=true >
			  <ion-slide id='newyork' class='feature'>
			    <a href="#">
			    	<div class=''>
				    	<img src="img/newyork.jpg">
				    </div>
					</a>
			  </ion-slide>
			  <ion-slide id='chicago' class='feature'>
					<a href="#">
			    	<div>
				    	<img src="img/chicago.jpg">
				    </div>
					</a>
			  </ion-slide>
			  <ion-slide id='la' class='feature'>
			  	<a href="#">
			    	<div>
				    	<img src="img/la.jpg">
				    </div>
					</a>
			  </ion-slide>
			</ion-slide-box>
	  <!-- </li> -->
	  <div class="item item-divider icon ion-chatbubble-working">
    	New Update
	  </div>
	  <button ng-controller='LogInController' class='item button button-clear' ng-click='signout()' > signout</button>
		<div class="item item-divider icon ion-heart">
    	Your Favorite
	  </div>
	  <a class="item item-icon-left item-icon-right" href="#/tab/city">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	    <i class="icon ion-ios-telephone-outline"></i>
	  </a>
	  <div class="item item-divider icon ion-ios-location">
    	Your Recent Trip
	  </div>
	  <a class="item item-icon-left item-icon-right" href="#/tab/city">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	    <i class="icon ion-ios-telephone-outline"></i>
	  </a>
</div>

	