<!-- View -->
<ion-view title="DASHBOARD">

<ion-content padding="false">
	<!-- <h1 title>DASHBOARD</h1> -->
	<!-- <p><a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Facts</a></p>	
	 -->
	<!-- Template Feature -->
	<div ui-view="feature"></div>


</ion-content>

</ion-view>
