<ion-modal-view>
<ion-header-bar class='bar-positive'>
  <h1 class="title">Location</h1>
  <button class="button button-clear icon ion-close-circled" ng-click="closeModal()" ></button>
</ion-header-bar>

<ion-content>
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <ion-google-place placeholder="Location" ng-model="location" ng-change="placeChanged()" />
   <!--  <input type="text" ng-model='address' places-auto-complete types="['geocode']" on-place-changed="placeChanged(place)" placeholder="Enter a location" autocomplete="off"> -->
  </label>
</div>
<!-- Location List after search -->
{{location}}
<br>
{{location.geometry.location.H}}
{{location.geometry.location.L}}
<div class="list">
    <!-- <input type="text" ng-model='address' places-auto-complete types="['geocode']" on-place-changed="placeChanged(place)" placeholder="Enter a location" autocomplete="off"> -->
  
    <a class="item item-thumbnail-left" href="#">
      <img src="img/newyork.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>

      {{place.name}}
    </a>
</div>



</ion-content>
</ion-modal-view>
