<ion-view view-title="Sign-In">
    <ion-content padding="false" class='has-header'>
    <div class='list padding text-center'>
		<h4>Login to your account</h4>
		<button class='button button-block button-positive icon ion-social-facebook' ng-click='signInWithFb()'> Log in with your facebook</button> 
    </div>
    <div class='list padding text-center'>
    	<h3>{{data.result}}</h3>
    </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="data.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="data.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="signIn()">
          Sign-In
        </button>
        <a href = "#/signup" class="button button-positive" style="width: 100%; margin: 20px 0;">
        Sign Up
      </a>
      <button class="button button-block button-positive" ng-click="signOut()">
          Sign-In
        </button>

        <p class="text-center">
          <!-- <a href="#/forgot-password">Forgot password</a> -->
        </p>
      </div>
    </ion-content>
  </ion-view>