<!-- hide-tabs='true' -->
<ion-view title="MAP" class='has-tabs has-footer' hide-tabs='true'>
	<leaflet center='initial' maxbounds="maxbounds" markers='markers' tiles='tiles' class='col'></leaflet>
</ion-view>

<div class="bar bar-subfooter bar-balanced auto-height sub-footer auto-height" ng-show="toggleTheme()">
    <div class="row">
        <div class="list">
            <div ui-view="theme" ></div>
        </div>
    </div>
</div>

<div class="bar bar-footer row">
	<button class="col col-25 button button-clear icon ion-plus-circled" id='addButton' ng-click="showSearch()" ></button>
	<ion-checkbox class='col col-25 button-clear checkbox-balanced' ng-model="themeChecked"></ion-checkbox>
	<ion-checkbox class='col col-25 button-clear checkbox-balanced' ng-model="themeChecked"></ion-checkbox>
	<button class="col col-25 button button-clear icon" id='addButton' ng-click="toggleTheme()" >Save</button>
</div>