<!-- View -->
<div ng-controller='SearchController'>
  <div class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText" ng-change='searchVenue(searchText)' reset-field>
      <i>
      <a ng-if="searchText.length"
         on-tap="resetInput()"
         class="input-button button button-icon ion-ios-close-empty" ng-style='{"color":"gray"}'>
      </a>
      </i>
    </label>
  </div>
  <div class="list">
    <a class="item item-avatar-left" ng-repeat="venue in venues">
      <img ng-src="{{venue.categories[0].icon.prefix}}bg_32{{venue.categories[0].icon.suffix}}">
      <h2>{{venue.name}}</h2>
      <p>{{venue.location.formattedAddress[0]}}</p>
    </a>
  </div>

  <button class='button button-block button-outline button-dark' ng-click='sendOrder()'> cancel</button>
</div>
