<ion-scroll direction='x' class="wide-as-needed" has-bouncing='true' ng-show='!isClicked'>

        <a class="button button-clear" ng-click="setMap('osm')">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear"  ng-click="setMap('ocm')">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>

        <a class="button button-clear">
			  <!-- <div class="item item-avatar"> -->
			   	<img src="http://placehold.it/150x70" style='width:150px; height: 70px;'>
			   	<!-- <p>New York</p> -->
			  <!-- </div> -->
        </a>
</ion-scroll>