<ion-modal-view>
<ion-header-bar class='bar-positive'>
  <h1 class="title">My Modal title</h1>
  <button class="button icon ion-close-circled" ng-click="closeModal()" ></button>
</ion-header-bar>

<ion-content>
  Hello!
</ion-content>
</ion-modal-view>
