<!-- View -->
<ion-view title="SETTING">

<ion-content padding="false">
	<div class="list">
	  <div class="item item-divider">
    Account
  </div>
  <a class="item item-icon-left" href="#/tab/city">
    <i class="icon ion-email"></i>
    Edit Profile
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>
</div>
</ion-content>
</ion-view>
