<!-- TabBar -->
<ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}" class="tabs-dark tabs-icon-top">
  <ion-tab title='Dashboard' icon="ion-star" ui-sref="tabs.dashboard" class='balanced'>
    <ion-nav-view name="dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title='City' icon="ion-android-map" ui-sref="tabs.city" class='balanced'>
    <ion-nav-view name="city"></ion-nav-view>
  </ion-tab>
  <ion-tab title='Account' icon="ion-android-contact" ui-sref="tabs.account" class='balanced'>
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>
  <ion-tab title='Setting' icon="ion-ios-settings-strong" ui-sref="tabs.setting" class='balanced'>
    <ion-nav-view name="setting"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title='Search' icon="ion-android-map" ui-sref="tabs.search" class='balanced'>
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>