/* Empty. Add your own CSS if you like */
body, html {
    height: auto;
    width: 100%;
}
map {
    height: 100%;
    width: 100%;
    position: absolute;
}

/*#addButton {
	position: absolute;
	z-index: 20;
    bottom: 25%;
}*/

/* Scroll horizontally */
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  padding: 10px 0px;
}

/* Hide Scroll Bar */
.scroll-bar-indicator
{
  display: none;
}

/*.footer {
  height: 400px !important;
}*/

.sub-footer {
  height: 15%;
  padding: 0px;
  margin: 0px;
}
.featureContainer {
  height: 40%;
}
.feature {
  height: 100%;
}

.feature div {
  position: absolute;
  text-align: center;
/*  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
}

.feature img {
  width: 100%;
  height: 100%;
}

.slide {
  height: 100%;
}

.slide div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.slide img {
  width: 200px;
  height: 200px;
}

.slide p{
  text-decoration: none;
  color:black;
}

#newyork {
  background-color: #F44336 !important;
  position: relative;
}

#chicago {
  background-color: #64B5F6 !important;
  margin: 0 auto;
}

#la {
  background-color: #64FFDA !important;
  margin: 0 auto;
}


/*****************************************/
/************* Leaflet CSS ***************/
/*****************************************/
.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 0px;
}
/*
.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}
*/

/* Search Bar */
.cate-icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.popup {
  width: 90% !important;
  max-height: 60% !important;
  background-color: white !important;
}
